.buttonBox{
  //border : 1px solid black;
  height: 130px;
  display: inline-block;
}

.myButton{
  border-radius: 10px;
  border : 1px solid black;
  height: 45px;
  width: 60px;
  display: inline-block;
  text-align:center;
  padding-top:12px;
  font-size:x-large;
  margin-top:5px;
  cursor:pointer;
}

.myButtonSpace{
  width: 250px;
}

.unused{
  background-color : LightGrey;
}